Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml

fix(service-worker): register in `beforeMount` instead of `mount`
  src/CollectivesApp.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(CollectiveExtraAction): Move to CollectiveActions component
  src/components/Collective/CollectiveActions.vue
  src/components/Page/PageActionMenu.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(release): Prepare 3.2.4 release
  CHANGELOG.md
  appinfo/info.xml
Due: Validate AppInfo

fix(PublicShares): fix validating password hash in Nextcloud 33
  lib/Controller/CollectivesPublicOCSController.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(l10n): Update translations from Transifex
  l10n/cs.js
  l10n/cs.json
  l10n/sw.js
  l10n/sw.json
  l10n/tr.js
  l10n/tr.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(vitest): Move test folder selection to vitest config
  package.json
  vitest.config.ts
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(files): Remove obsolete registration of mimetype folder icon
  lib/Listeners/BeforeTemplateRenderedListener.php
  src/files.js
  src/views/FileListInfo.vue
  vite.config.js
  webpack.js
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore: remove obsolete jest and webpack configs
  Makefile
  jest.config.json
  webpack.js
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(MemberPicker): Fix search when pasting into search field
  src/components/Member/MemberPicker.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

refactor(attachments): get attachments on page load and cache in browser
  src/components/PageContainer.vue
  src/components/PageSidebar.vue
  src/components/PageSidebar/SidebarTabAttachments.vue
  src/stores/pages.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(PageInfoBar): List number of attachments and link to sidebar
  src/components/Page/PageInfoBar.vue
  src/components/Page/TextEditor.vue
  src/components/PageContainer.vue
  src/composables/useReader.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(TextEditor): fix updating currentPage in PageInfoBar component props
  src/components/Page/TextEditor.vue
  src/composables/useReader.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(l10n): Update translations from Transifex
  l10n/et_EE.js
  l10n/et_EE.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

wip(pwa): use vite-plugin-pwa
  appinfo/routes.php
  lib/Controller/StartController.php
  package-lock.json
  package.json
  src/CollectivesApp.vue
  vite.config.js
Due: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

enh(service-worker): use prefix from url for precache
  lib/Controller/StartController.php
  src/CollectivesApp.vue
  src/service-worker.ts
  src/util/registerServiceWorker.ts
  vite.config.js
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(serviceWorker): Custom fallback mechanism for vue-router URLs
  vite.config.js
Due: none

feat(serviceWorker): Bring back precache for collectives app assets
  vite.config.js
Due: none

fix(vite-pwa): use ./ as outDir to match nc vite config
  vite.config.js
Due: none

chore(npm): Make linter regard typescript files
  package.json
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(serviceWorker): Bring back runtime caching
  package-lock.json
  package.json
  src/service-worker.ts
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(serviceWorker): Move service worker asset to 'js/' directory
  lib/Controller/StartController.php
  vite.config.js
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(js): Fix linter errors in service-worker.ts
  src/service-worker.ts
  tsconfig.json
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(npm): Add workbox-precaching as direct dev dependency
  package-lock.json
  package.json
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(service-worker): claim clients that ran without service worker before
  package-lock.json
  package.json
  src/service-worker.ts
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

enh(pwa): use workbox-window
  package-lock.json
  package.json
  src/util/registerServiceWorker.ts
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master
