Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Cache node_modules:
  stage: cache
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
  script:
  - npm install -g "npm@8"
  - npm --version
  - node --version
  - npm ci --cache .npm --prefer-offline

Validate AppInfo:
  stage: lint
  before_script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  - DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install libxml2-utils curl
  script:
  - make lint-appinfo
  needs: []

Build App:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: build
  script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  ...

Static PHP Analysis:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: lint
  script:
  - vendor/bin/psalm.phar lib/
  before_script:
  - make composer-install
  needs: []

Unit Test PHP 7.3 Nextcloud 22:
  image: registry.gitlab.com/collectivecloud/docker-builds:php7.3-nc22
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.0 Nextcloud 23:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.0-nc23
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud 24:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud Master:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-ncmaster
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Lint Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: lint
  script:
  - make lint-js
  needs: []

Unit Test Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: test units
  script:
  - make test-js
  needs:
  - Lint Javascript

feat(attachments): distinguish between embedded and not embedded
  cypress/e2e/page-attachments.js
  lib/Service/AttachmentService.php
  src/components/Page/TextEditor.vue
  src/components/PageSidebar/AttachmentItem.vue
  src/components/PageSidebar/SidebarTabAttachments.vue
  src/composables/useEditor.js
  src/composables/useReader.js
  src/stores/pages.js
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(AttachmentItem): Display rename option only with edit permissions
  src/components/PageSidebar/AttachmentItem.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(AttachmentItem): show actions menu on hover/focus on desktop
  cypress/e2e/page-attachments.js
  src/components/PageSidebar/AttachmentItem.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(l10n): Update translations from Transifex
  l10n/ar.js
  l10n/ar.json
  l10n/ast.js
  l10n/ast.json
  l10n/bg.js
  l10n/bg.json
  l10n/ca.js
  l10n/ca.json
  l10n/ga.js
  l10n/ga.json
  l10n/hr.js
  l10n/hr.json
  l10n/tr.js
  l10n/tr.json
  l10n/uk.js
  l10n/uk.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(SharingEntryLink): link doesn't contain slug/id (#2211)
  src/components/PageSidebar/SharingEntryLink.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(SharingLinkEntry): only add page slug to shareUrl for page shares
  src/components/PageSidebar/SharingEntryLink.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): fix cypress selector for viewer files with stable33
  cypress/e2e/pages-links.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(css): please stylelint
  src/components/CollectiveContainer.vue
  src/components/PageContainer.vue
  src/components/PageList.vue
  src/components/PagePrint.vue
  src/components/PageTag.vue
  src/views/FileListInfo.vue
  src/views/PageReferenceWidget.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(npm): fix cypress to 13.6.4
  package-lock.json
  package.json
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(ImportService): provide immediate progress feedback via callback
  lib/Command/ImportMarkdownDirectory.php
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(import): add command to import markdown files into a collective
  appinfo/info.xml
  lib/Command/ImportMarkdownDirectory.php
  lib/Service/ImportService.php
  lib/Service/PageService.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(markdown): add `getImagesfromContent()` function
  lib/Fs/MarkdownHelper.php
  tests/Unit/Fs/MarkdownHelperTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(import): try to rewrite internal links
  lib/Command/ImportMarkdownDirectory.php
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): Add more lightweight `createBase()` function
  lib/Service/ImportService.php
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore: fix some typos
  lib/Fs/MarkdownHelper.php
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(ImportService): Regard readme as index page
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(ImportMarkdownDirectory): rewrite internal attachment references
  lib/Command/ImportMarkdownDirectory.php
  lib/Service/AttachmentService.php
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): Allow to pass page content to `newPage()`
  lib/Service/ImportService.php
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(PageService): Remove obsolete injection of IConfig
  lib/Service/PageService.php
  tests/Unit/Service/PageServiceTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): pass content directly to `newFile()`
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): cache allPageInfos
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(ImportService): don't keep full PageInfo to lower memory footprint
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(ImportService): get parentPageInfo when necessary
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(AttachmentService): cache attachmentDirectory, pass content to newFile
  lib/Service/AttachmentService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(ImportService): refactor usage of progressCallback
  lib/Command/ImportMarkdownDirectory.php
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

docs: add basic documentation on how to import markdown files
  docs/content/administration/_index.md
Due: pages

fix(controllers): Add User Trait to handle null sessions
  lib/Controller/CollectiveController.php
  lib/Controller/CollectiveUserSettingsController.php
  lib/Controller/PageController.php
  lib/Controller/PageTrashController.php
  lib/Controller/SessionController.php
  lib/Controller/SettingsController.php
  lib/Controller/ShareController.php
  lib/Controller/TagController.php
  lib/Controller/TemplateController.php
  lib/Controller/TrashController.php
  lib/Controller/UserTrait.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(ImportService): no duplicates if page and directory have same name
  lib/Service/ImportService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(LandingPage): remove team overview button
  src/components/Page/LandingPageWidgets/MembersWidget.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

enh(nav): delay closing by one second
  src/components/CollectiveContainer.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(EditButton): rename "Done" to "Preview"
  cypress/e2e/collective-page-mode.spec.js
  cypress/e2e/page-anchor-links.spec.js
  cypress/e2e/page-details.spec.js
  cypress/e2e/page-list.spec.js
  cypress/e2e/pages-links.spec.js
  cypress/e2e/pages.spec.js
  cypress/support/commands.js
  src/apis/collectives/collectives.js
  src/components/Nav/CollectiveSettings.vue
  src/components/Page/EditButton.vue
  src/components/Page/TextEditor.vue
  src/constants.js
  src/stores/pages.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml
