Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Cache node_modules:
  stage: cache
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
  script:
  - npm install -g "npm@8"
  - npm --version
  - node --version
  - npm ci --cache .npm --prefer-offline

Validate AppInfo:
  stage: lint
  before_script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  - DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install libxml2-utils curl
  script:
  - make lint-appinfo
  needs: []

Build App:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: build
  script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  ...

Static PHP Analysis:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: lint
  script:
  - vendor/bin/psalm.phar lib/
  before_script:
  - make composer-install
  needs: []

Unit Test PHP 7.3 Nextcloud 22:
  image: registry.gitlab.com/collectivecloud/docker-builds:php7.3-nc22
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.0 Nextcloud 23:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.0-nc23
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud 24:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud Master:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-ncmaster
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Lint Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: lint
  script:
  - make lint-js
  needs: []

Unit Test Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: test units
  script:
  - make test-js
  needs:
  - Lint Javascript

Translated using Weblate (Russian)
  translationfiles/ru/collectives.po
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Add Github issue/PR templates (copied over from Text)
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/pull_request_template.md
Due: none

Code style fixes by php cs fixer
  lib/BackgroundJob/ExpirePageVersions.php
  lib/BackgroundJob/PurgeObsoletePages.php
  tests/Unit/Db/CollectiveTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Migrate `::v-deep` to `:deep()` in vue style sections
  src/components/Nav/CollectiveListItem.vue
  src/components/Nav/CollectivesTrash.vue
  src/components/Page.vue
  src/components/PageList/Draggable.vue
  src/components/PagePrint.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

First set of Github actions
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/dependabot-approve-merge.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-info-xml.yml
  .github/workflows/lint-php-cs.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/psalm.yml
  .github/workflows/update-nextcloud-ocp.yml
Due: none

Pin NPM version to ">8.0.0" at engines in package.json
  package-lock.json
  package.json
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Replace links to Gitlab with links to Github
  README.md
  appinfo/info.xml
  docs/config.toml
  lib/Service/PageService.php
  package.json
Due: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Add Github action to run behat integration tests
  .github/workflows/behat-sqlite.yml
  tests/Integration/config/behat.yml
Due: Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test

Add Github action to build JS assets and run JS tests
  .github/workflows/node.yml
Due: none

Add Github workflow to run phpunit
  .github/workflows/phpunit-sqlite.yml
  Makefile
  phpunit.xml
  tests/phpunit.xml
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Behat: rename features and collectives to better distinguish them
  tests/Integration/features/collective.feature
  tests/Integration/features/collectiveMountpoint.feature
  tests/Integration/features/collectivePages.feature
  tests/Integration/features/collectivePublicShare.feature
  tests/Integration/features/collectiveUserSettings.feature
  tests/Integration/features/mountpoint.feature
  tests/Integration/features/pages.feature
  tests/Integration/features/publicShare.feature
  tests/Integration/features/userSettings.feature
Due: Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test

Add Github workflow to test occ cli commands
  .github/workflows/occ-cli-mysql.yml
Due: none

Add Github workflow for testing app upgrade
  .github/workflows/app-upgrade-mysql.yml
Due: none

Behat: Accept return codes 200 and 400 for circles API calls
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test

Add Github workflow for cypress tests
  .github/workflows/cypress.yml
  cypress.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Migrate to Cypress 10
  cypress.config.js
  cypress.json
  cypress/e2e/apps.spec.js
  cypress/e2e/circle-with-group.spec.js
  cypress/e2e/collective-readonly.spec.js
  cypress/e2e/collective-settings.spec.js
  cypress/e2e/collective-share.spec.js
  cypress/e2e/collective.spec.js
  cypress/e2e/collectives-trash.spec.js
  cypress/e2e/pages-links.spec.js
  cypress/e2e/pages.spec.js
  cypress/e2e/settings.spec.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

tmp
  cypress.config.js
Due: none

Cypress: remove superfluous test for read-only editor
  cypress/e2e/pages.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Cypress: use `switchPageMode() ` in "Editing a page" test
  cypress/e2e/pages.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Add transifex integration configuration
  .tx/backport
  .tx/config
Due: none

Migrate app documentation to Github pages
  .github/workflows/pages.yml
  README.md
  appinfo/info.xml
  skeleton/Readme.cs.md
  skeleton/Readme.da.md
  skeleton/Readme.de.md
  skeleton/Readme.de_DE.md
  skeleton/Readme.en.md
  skeleton/Readme.es.md
  skeleton/Readme.fr.md
  skeleton/Readme.it.md
  skeleton/Readme.ja.md
  skeleton/Readme.nb_NO.md
  skeleton/Readme.nl.md
  skeleton/Readme.pl.md
  skeleton/Readme.pt.md
  skeleton/Readme.pt_BR.md
  skeleton/Readme.si.md
  skeleton/Readme.sl.md
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Add app config to specify default app folder location
  lib/Fs/UserFolderHelper.php
  tests/Unit/Fs/UserFolderHelperTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Delete translationfiles directory
  translationfiles/ca/collectives.po
  translationfiles/cs/collectives.po
  translationfiles/da/collectives.po
  translationfiles/de/collectives.po
  translationfiles/de_DE/collectives.po
  translationfiles/el/collectives.po
  translationfiles/es/collectives.po
  translationfiles/fr/collectives.po
  translationfiles/it/collectives.po
  translationfiles/ja/collectives.po
  translationfiles/ko/collectives.po
  translationfiles/nb_NO/collectives.po
  translationfiles/nl/collectives.po
  translationfiles/pl/collectives.po
  translationfiles/pt/collectives.po
  translationfiles/pt_BR/collectives.po
  translationfiles/ru/collectives.po
  translationfiles/si/collectives.po
  translationfiles/sl/collectives.po
  translationfiles/sv/collectives.po
  translationfiles/ta/collectives.po
  translationfiles/templates/collectives.pot
  translationfiles/zh_Hans/collectives.po
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

[stable1] Delete translationfiles directory
  translationfiles/ca/collectives.po
  translationfiles/cs/collectives.po
  translationfiles/da/collectives.po
  translationfiles/de/collectives.po
  translationfiles/de_DE/collectives.po
  translationfiles/el/collectives.po
  translationfiles/es/collectives.po
  translationfiles/fr/collectives.po
  translationfiles/it/collectives.po
  translationfiles/ja/collectives.po
  translationfiles/nb_NO/collectives.po
  translationfiles/nl/collectives.po
  translationfiles/pt/collectives.po
  translationfiles/pt_BR/collectives.po
  translationfiles/ru/collectives.po
  translationfiles/si/collectives.po
  translationfiles/sl/collectives.po
  translationfiles/sv/collectives.po
  translationfiles/ta/collectives.po
  translationfiles/templates/collectives.pot
  translationfiles/zh_Hans/collectives.po
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Create .gitkeep
  l10n/.gitkeep
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Remove references to weblate
  .github/workflows/cypress.yml
  .weblate
  Makefile
  README.md
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): 🔠 Update translations from Transifex
  l10n/eu.js
  l10n/eu.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(psalm): Fix psalm errors
  lib/Db/CollectiveMapper.php
  lib/Db/CollectiveShareMapper.php
  lib/Db/CollectiveUserSettingsMapper.php
  lib/Db/PageMapper.php
  lib/Listeners/BeforeTemplateRenderedListener.php
  lib/Listeners/CircleDestroyedListener.php
  lib/Listeners/ShareDeletedListener.php
  lib/Versions/ExpireManager.php
  tests/psalm-baseline.xml
  tests/stub.phpstub
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml
