Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml

feat(api): Migrate public pages and page trash API to OCS with OpenAPI support
  appinfo/routes.php
  lib/Controller/CollectivesPublicOCSController.php
  lib/Controller/PublicCollectiveController.php
  lib/Controller/PublicPageController.php
  lib/Controller/PublicPageTrashController.php
  openapi.json
  src/apis/collectives/pages.js
  src/apis/collectives/templates.js
  src/apis/collectives/urls.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(l10n): Update translations from Transifex
  l10n/bg.js
  l10n/bg.json
  l10n/de.js
  l10n/de.json
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PagePicker): Use pages store for pages from other collectives
  src/components/Page/PagePicker.vue
  src/stores/pageExtracts.js
  src/stores/pages.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(cypress): Adjust to updated API data structure
  cypress/e2e/collective-share.spec.js
  cypress/e2e/page-list.spec.js
  cypress/e2e/page-share.spec.js
  cypress/e2e/page-templates.spec.js
  cypress/e2e/pages-links.spec.js
  cypress/e2e/pages.spec.js
  cypress/support/commands.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(share): Add missing public page route to set full width
  appinfo/routes.php
  lib/Controller/PublicPageController.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(NewCollectiveModal): Show info msg from server when creating collective
  cypress/e2e/collective.spec.js
  src/components/Nav/NewCollectiveModal.vue
  src/stores/collectives.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(Sharing): Fix displaying error message
  src/components/PageSidebar/SharingEntryLink.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

tes(cy): Add test for using fulltext search in public share
  cypress/e2e/collective-share.spec.js
  src/apis/collectives/pages.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(templates): Add missing public template controller
  appinfo/routes.php
  lib/Controller/PublicTemplateController.php
  lib/Controller/TemplateController.php
  src/apis/collectives/templates.js
  src/components/Collective.vue
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(Middleware): Rename to PublicOCSMiddleware
  lib/AppInfo/Application.php
  lib/Middleware/PublicOCSMiddleware.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

docs: Briefly mention OCS API in documentation
  README.md
Due: none

fix(l10n): Update translations from Transifex
  l10n/sw.js
  l10n/sw.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(api): Adjust route structure to be more logical
  appinfo/routes.php
  cypress/e2e/collective-share.spec.js
  cypress/e2e/page-list.spec.js
  cypress/e2e/page-share.spec.js
  cypress/e2e/page-templates.spec.js
  cypress/e2e/pages-links.spec.js
  cypress/e2e/pages.spec.js
  openapi.json
  src/apis/collectives/pages.js
  src/apis/collectives/sessions.js
  src/apis/collectives/shares.js
  src/apis/collectives/templates.js
  src/apis/collectives/userSettings.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(ci): Cache appstore repository in Github workflow
  .github/workflows/app-upgrade-mysql.yml
  .github/workflows/app-upgrade-postgres.yml
  .github/workflows/cypress-e2e.yml
  .github/workflows/psalm-migrations.yml
Due: none

fix(PageList): Add padding-bottom to dragarea only on top-level page list
  src/components/PageList.vue
  src/components/PageList/Draggable.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(page): Align "page not found" empty content vertically
  src/components/CollectiveNotFound.vue
  src/components/Page/PageNotFound.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(psalm): Adjust concurrency group in psalm-migrations.yml
  .github/workflows/psalm-migrations.yml
Due: none

feat(api): Migrate collectives+trash APIs to OCS with OpenAPI support
  appinfo/routes.php
  cypress/support/commands.js
  lib/Controller/CollectiveController.php
  lib/Controller/TrashController.php
  lib/ResponseDefinitions.php
  openapi.json
  src/apis/collectives/collectives.js
  src/apis/collectives/shares.js
  src/components/Nav/NewCollectiveModal.vue
  src/stores/collectives.js
  src/util/displayError.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Migrate shares API to OCS with OpenAPI support
  appinfo/routes.php
  lib/Controller/ErrorHelper.php
  lib/Controller/ShareController.php
  lib/ResponseDefinitions.php
  src/apis/collectives/shares.js
  src/stores/shares.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(api): Ignore start controllers in OpenAPI definition
  lib/Controller/PublicStartController.php
  lib/Controller/StartController.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Add OpenAPI annotations to OCS controller endpoints
  appinfo/routes.php
  cypress/support/commands.js
  lib/Controller/SessionController.php
  lib/Controller/SettingsController.php
  lib/Service/SessionService.php
  src/stores/settings.js
  tests/Unit/Controller/SettingsControllerTest.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Migrate collective user settings API to OCS with OpenAPI support
  appinfo/routes.php
  lib/Controller/CollectiveUserSettingsController.php
  src/apis/collectives/userSettings.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(api): Slightly refactor frontend functions for OCS API endpoints
  src/apis/collectives/sessions.js
  src/apis/collectives/settings.js
  src/apis/collectives/urls.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Move collectives trash API endpoints to `/collectives/trash`
  appinfo/routes.php
  src/apis/collectives/collectives.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Migrate template pages API to OCS with OpenAPI support
  appinfo/routes.php
  lib/Controller/PageController.php
  lib/Controller/PageTrashController.php
  lib/Controller/TemplateController.php
  openapi.json
  src/apis/collectives/pages.js
  src/apis/collectives/templates.js
  src/apis/collectives/urls.js
  src/stores/templates.js
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(api): Install openapi-instructor
  .github/workflows/openapi.yml
  composer.json
  psalm.xml
  vendor-bin/openapi-extractor/composer.json
  vendor-bin/openapi-extractor/composer.lock
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(controller): Refactor ErrorHelper usage
  lib/Controller/CollectiveController.php
  lib/Controller/CollectiveUserSettingsController.php
  lib/Controller/OCSExceptionHelper.php
  lib/Controller/PageController.php
  lib/Controller/PageTrashController.php
  lib/Controller/PublicCollectiveController.php
  lib/Controller/PublicPageController.php
  lib/Controller/PublicPageTrashController.php
  lib/Controller/SessionController.php
  lib/Controller/ShareController.php
  lib/Controller/TemplateController.php
  lib/Controller/TrashController.php
  src/components/Nav/NewCollectiveModal.vue
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master
