Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Cache node_modules:
  stage: cache
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
  script:
  - npm install -g "npm@8"
  - npm --version
  - node --version
  - npm ci --cache .npm --prefer-offline

Validate AppInfo:
  stage: lint
  before_script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  - DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install libxml2-utils curl
  script:
  - make lint-appinfo
  needs: []

Build App:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: build
  script:
  - DEBIAN_FRONTEND=noninteractive apt-get update
  ...

Static PHP Analysis:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: lint
  script:
  - vendor/bin/psalm.phar lib/
  before_script:
  - make composer-install
  needs: []

Unit Test PHP 7.3 Nextcloud 22:
  image: registry.gitlab.com/collectivecloud/docker-builds:php7.3-nc22
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.0 Nextcloud 23:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.0-nc23
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud 24:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-nc24
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Unit Test PHP 8.1 Nextcloud Master:
  image: registry.gitlab.com/collectivecloud/docker-builds:php8.1-ncmaster
  cache:
    paths:
    - vendor/
    key: composer
  stage: test units
  script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never
  before_script:
  - make composer-install
  ...

Lint Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: lint
  script:
  - make lint-js
  needs: []

Unit Test Javascript:
  image: node:16
  cache:
    paths:
    - .npm/
    - node_modules/
    key: npm
    policy: pull
  before_script:
  - npm install -g "npm@8"
  - npm install
  - npm --version
  - node --version
  stage: test units
  script:
  - make test-js
  needs:
  - Lint Javascript

Fix(l10n): Update translations from Transifex
  l10n/da.js
  l10n/da.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/fr.js
  l10n/fr.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cypress): fix selector for unified search elements on master
  cypress/e2e/pages.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/pt_BR.js
  l10n/pt_BR.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(ci): configure renovate reviewers
  renovate.json
Due: none

chore(ci): configure dependabot reviewers
  .github/dependabot.yml
Due: none

feat(share): Add basic backend implementation for page shares
  appinfo/info.xml
  appinfo/routes.php
  lib/Controller/CollectiveController.php
  lib/Controller/PublicCollectiveController.php
  lib/Controller/PublicPageController.php
  lib/Controller/ShareController.php
  lib/Db/CollectiveShare.php
  lib/Db/CollectiveShareMapper.php
  lib/Migration/Version001600Date20211025000000.php
  lib/Migration/Version021000Date20231206000000.php
  lib/Model/CollectiveShareInfo.php
  lib/Service/CollectiveService.php
  lib/Service/CollectiveShareService.php
  lib/Service/PageService.php
  tests/Unit/Service/CollectiveShareServiceTest.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(CollectiveInfo): Add `isPageShare` flag to CollectiveInfo
  lib/Model/CollectiveInfo.php
  lib/Service/CollectiveHelper.php
  lib/Service/CollectiveService.php
  tests/Unit/Service/CollectiveServiceTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(sharing): Add page sidebar tab to manage collective/page shares
  package-lock.json
  package.json
  src/components/Collective.vue
  src/components/Collective/CollectiveActions.vue
  src/components/PageSidebar.vue
  src/components/PageSidebar/SharingEntryLink.vue
  src/components/PageSidebar/SidebarTabSharing.vue
  src/mixins/CopyToClipboardMixin.js
  src/store/actions.js
  src/store/collectives.js
  src/store/mutations.js
Due: Cache node_modules, Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageActionMenu): Show 'open sidebar' when sidebar is closed
  src/components/Page/PageActionMenu.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(sharing): Replace sharing options with link in collective actions
  src/components/Collective/CollectiveActions.vue
  src/components/PageSidebar.vue
  src/components/PageSidebar/SharingEntryLink.vue
  src/store/collectives.js
  src/store/store.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(frontend): Add basic support for page shares
  src/components/Page/PagePicker.vue
  src/components/PageList.vue
  src/components/PageList/Item.vue
  src/mixins/pageMixin.js
  src/store/collectives.js
  src/store/pageExtracts.js
  src/store/pages.js
  src/store/store.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(share): Let share API endpoints return shares, not collectives
  lib/Controller/ShareController.php
  tests/Integration/features/bootstrap/FeatureContext.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PagePicker): Adjustments for page shares
  src/components/Page/PagePicker.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cypress): Adjust sharing tests to new UI and add page share tests
  cypress/e2e/collective-share.spec.js
  cypress/e2e/pages-links.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

feat(pageList): Add 'Share' button to page actions in page list
  src/components/Page/PageActionMenu.vue
  src/store/collectives.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(pageShare): No page deletion and page trash in page shares
  lib/Controller/PublicPageTrashController.php
  src/components/Collective.vue
  src/components/Page/PageActionMenu.vue
  src/components/PageList.vue
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(behat): Add integration tests for page share API calls
  tests/Integration/features/bootstrap/FeatureContext.php
  tests/Integration/features/publicCollectiveShare.feature
  tests/Integration/features/publicPageShare.feature
Due: Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test

feat(pages): Don't revert subfolders for leaf pages
  lib/Fs/NodeHelper.php
  lib/Service/PageService.php
  lib/Trash/PageTrashBackend.php
  tests/Integration/features/pages.feature
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(vuex): Clean up getter arguments
  src/store/collectives.js
  src/store/pages.js
  src/store/store.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(pageShare): Move page only to parents within the page share
  lib/Controller/PublicPageController.php
  tests/Integration/features/publicPageShare.feature
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(ui): Change share action button title to 'Share with guests'
  cypress/e2e/collective-share.spec.js
  cypress/e2e/pages-links.spec.js
  src/components/Collective/CollectiveActions.vue
  src/components/Page/PageActionMenu.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(backend): Transform single page to subfolder before sharing
  lib/Controller/ShareController.php
  lib/Service/PageService.php
  tests/Integration/features/publicPageShare.feature
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(behat): Allow to upload attachments to subfolders
  tests/Integration/features/bootstrap/FeatureContext.php
  tests/Integration/features/mountpoint.feature
  tests/Integration/features/pages.feature
  tests/Integration/features/publicCollectiveShare.feature
  tests/Integration/features/publicPageShare.feature
Due: Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test

fix(sharing): Get shared collective by token
  lib/Controller/PublicCollectiveController.php
  lib/Service/CollectiveService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(backend): Rename variable to improve code readability
  lib/Controller/PublicPageController.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(ci): Set unique name when uploading cypress job artifacts
  .github/workflows/cypress.yml
Due: none

fix(frontend): Display error when creating a share failed
  src/components/PageSidebar/SharingEntryLink.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(backend): Remove superfluous check from `createShare`
  lib/Service/CollectiveShareService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(backend): check if collective and share token match
  lib/Controller/PublicCollectiveController.php
  lib/Service/CollectiveService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(backend): Allow to create several shares for a collective
  lib/Service/CollectiveShareService.php
  tests/Integration/features/publicCollectiveShare.feature
  tests/Unit/Service/CollectiveShareServiceTest.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cypress): Move page share tests into own spec
  cypress/e2e/page-share.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml
