Repository nextcloud/collectives: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master, pages

Path conditions:
  Cache node_modules: any of: package.json, package-lock.json, .gitlab-ci.yml
  Validate AppInfo: any of: appinfo/**/*, Makefile, .gitlab-ci.yml
  Build App: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*, webpack.js
  Static PHP Analysis: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Unit Test PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Lint Javascript: any of: babel.config.js, cypress/**/*, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  Unit Test Javascript: any of: babel.config.js, .gitlab-ci.yml, jest.config.json, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, webpack.js
  API PHP 7.3 Nextcloud 22: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.0 Nextcloud 23: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud 24: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  API PHP 8.1 Nextcloud Master: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  OCC CLI Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  App Update Test: any of: composer.json, composer.lock, .gitlab-ci.yml, lib/**/*, Makefile, phpunit.xml, psalm.xml, skeleton/**/*, templates/**/*, tests/**/*, translationfiles/**/*
  Browser PHP 7.3 Nextcloud 22: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.0 Nextcloud 23: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud 24: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  Browser PHP 8.1 Nextcloud Master: any of: babel.config.js, composer.json, composer.lock, cypress.json, cypress/**/*, .gitlab-ci.yml, jest.config.json, l10n/**/*, lib/**/*, Makefile, package.json, package-lock.json, src/**/*, stylelint.config.js, skeleton/**/*, templates/**/*, translationfiles/**/*
  pages: any of: DEVELOPING.md, docs/**/*, .gitlab-ci.yml

fix(Page): refactor newPage/newTemplate logic
  src/components/Page.vue
  src/components/Page/TextEditor.vue
  src/store/pages.js
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): Replace `*` with `\w*` in trusted domains regex
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageService): preg_quote `trusted_domains` before using in regexp
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(PageService): remove superfluous matches argument to preg_match
  lib/Service/PageService.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

chore(dev-deps): Bump nextcloud/ocp package
  composer.lock
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cypress): enable check for editor in stable25
  cypress/e2e/pages.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): make toc test retriable
  cypress/e2e/page-details.spec.js
  cypress/support/commands.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): unified search now uses a button not an a
  cypress/e2e/pages.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(ci): run all relevant tests in merge queue
  .github/workflows/app-upgrade-mysql.yml
  .github/workflows/app-upgrade-postgres.yml
  .github/workflows/behat-sqlite-encryption.yml
  .github/workflows/behat-sqlite.yml
  .github/workflows/cypress.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-info-xml.yml
  .github/workflows/lint-php-cs.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/node.yml
  .github/workflows/occ-cli-mysql.yml
  .github/workflows/phpunit-sqlite.yml
  .github/workflows/psalm.yml
Due: none

test(cypress): bump `defaultCommandTimeout` from 4000ms to 7000ms
  cypress.config.js
Due: none

Fix(l10n): Update translations from Transifex
  l10n/cy_GB.js
  l10n/cy_GB.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(CollectiveActions): Don't show `Leave collective` in public share
  src/components/Collective/CollectiveActions.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/sk.js
  l10n/sk.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(ci): only use cypress cloud if var is set in github
  .github/workflows/cypress.yml
Due: none

fix(PublicStartController): Don't show footer in public shares
  lib/Controller/PublicStartController.php
Due: Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cypress): Make page list trash test retriable
  cypress/e2e/page-list.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/hu.js
  l10n/hu.json
  l10n/sk.js
  l10n/sk.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/nl.js
  l10n/nl.json
  l10n/sk.js
  l10n/sk.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

Fix(l10n): Update translations from Transifex
  l10n/de.js
  l10n/de.json
  l10n/de_DE.js
  l10n/de_DE.json
Due: Build App, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

refactor(routes): Remove `parentId` parameter from page routes
  appinfo/routes.php
  cypress/e2e/collective-share.spec.js
  cypress/e2e/pages.spec.js
  lib/Controller/PageController.php
  lib/Controller/PublicPageController.php
  lib/Service/PageService.php
  src/components/Page.vue
  src/components/Page/PageActionMenu.vue
  src/mixins/pageMixin.js
  src/store/pages.js
  tests/Integration/features/bootstrap/FeatureContext.php
  tests/Integration/features/pages.feature
  tests/Integration/features/pagesDisabledTrashAndVersion.feature
  tests/Integration/features/publicShare.feature
  tests/Unit/Service/PageServiceTest.php
Due: Validate AppInfo, Build App, Static PHP Analysis, Unit Test PHP 7.3 Nextcloud 22, Unit Test PHP 8.0 Nextcloud 23, Unit Test PHP 8.1 Nextcloud 24, Unit Test PHP 8.1 Nextcloud Master, Lint Javascript, Unit Test Javascript, API PHP 7.3 Nextcloud 22, API PHP 8.0 Nextcloud 23, API PHP 8.1 Nextcloud 24, API PHP 8.1 Nextcloud Master, OCC CLI Test, App Update Test, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): click on page instead of visit
  cypress/e2e/page-details.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): use a precise selector for the default folder
  cypress/e2e/settings.spec.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): introduce basic navigation actions
  cypress/e2e/collective-members.spec.js
  cypress/e2e/collective-settings.spec.js
  cypress/e2e/collective-share.spec.js
  cypress/e2e/collective.spec.js
  cypress/e2e/collectives-trash.spec.js
  cypress/e2e/page-details.spec.js
  cypress/e2e/page-list.spec.js
  cypress/e2e/pages-links.spec.js
  cypress/e2e/pages.spec.js
  cypress/support/e2e.js
  cypress/support/navigation.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): introduce fileList and openFile commands
  cypress/e2e/apps.spec.js
  cypress/e2e/collective.spec.js
  cypress/e2e/settings.spec.js
  cypress/support/navigation.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

test(cy): remove unnecessary visit
  cypress/support/commands.js
Due: Build App, Lint Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

fix(PageActionMenu): Fix link to file in files app on Nextcloud 28
  src/components/Page/PageActionMenu.vue
Due: Build App, Lint Javascript, Unit Test Javascript, Browser PHP 7.3 Nextcloud 22, Browser PHP 8.0 Nextcloud 23, Browser PHP 8.1 Nextcloud 24, Browser PHP 8.1 Nextcloud Master

ci(behat): Run integration tests against php 8.3
  .github/workflows/behat-sqlite.yml
Due: none
